
<div class="container">
    <h1>Register New Account</h1>
    <form (ngSubmit)="register()">
      <mat-form-field appearance="outline">
        <label>Username</label>
        <input matInput ngModel name="username" [(ngModel)]="username" />
      </mat-form-field>
      <pre></pre>
      <mat-form-field appearance="outline">
        <label>First Name</label>
        <input matInput ngModel name="firstname" [(ngModel)]="firstname" />
      </mat-form-field>
      <pre></pre>
      <mat-form-field appearance="outline">
        <label>Last Name</label>
        <input matInput ngModel name="lastname" [(ngModel)]="lastname" />
      </mat-form-field>
      <pre></pre>
      <mat-form-field appearance="outline">
        <label>Email</label>
        <input matInput ngModel name="email" type="email" [(ngModel)]="email" />
      </mat-form-field>
      <pre></pre>
      <mat-form-field appearance="outline">
        <label>Password</label>
        <input
          matInput
          ngModel
          name="password"
          type="password"
          [(ngModel)]="password"
        />
      </mat-form-field>
      <pre></pre>
      <mat-form-field>
        <label for="type">Account Type</label>
        <select
          matNativeControl
          required
          [(ngModel)]="type"
          name="type"
        >
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
      </mat-form-field>
      <pre></pre>
      <button mat-raised-button type="submit">Register</button>
    </form>
  </div>
  